.footer-items{
    list-style: none;
    margin-top: 3px;
}
.special-color{
    color: #1CC7C1;
}
.footer-container{
    /* height: 400px; */
}
.icons{
    width:40px;
    height: 40px;
    border: 1px solid #1CC7C1;
    border-radius:50px;
    color: cyan;
    padding: 5px;
    margin:2px;
}
.icons:hover{
    background-color: #1CC7C1;
}